/*for large screen*/
@media (min-width:850px){
    body{
        background-image: url(images/cover-img.jpg);
        background-position: center ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0;
    }
}
/*for medium screen*/
@media (min-width:551px) and (max-width:849px){
    body{
        background-image: url(images/cover-img-mid.jpg);
        background-position: center ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0;
    }
}

/*for small screen*/
@media (max-width:550px){
    body{
        background-image: url(images/cover-img-small.jpg);
        background-position: center ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0;
    }
}

*{
    box-sizing: border-box;
}

header{
    background-color: blue;
    margin-bottom: 20px;
}
header .container{
    padding: 15px;
}

label{
    color: blue;
    font-weight: bolder;
}

h1{
    color: white;
    text-align: center;
}

.container p{
    text-align: center;
}
#body{
   
    background-color: rgb(209, 209, 209);
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 7px;
}

#body #go{
    text-align: center;
}
#body div{
    text-align: center;
}

form input{
    background-color: rgb(209, 209, 209);
    border: none;
    border-bottom: 1px solid black;
    width: 250px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#go input{
    background-color: blue;
    font-weight: bold;
    border: 1px;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}


